<a href="https://colab.research.google.com/github/yshan9/deep_learning/blob/master/ml_hw1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Attribution of sources:
Course DS 6202 at the George Washington University by Professor Yuxiao Huang

https://github.com/yuxiaohuang/teaching/blob/master/gwu/machine_learning_I/fall_2020/code/p2_shallow_learning/p2_c1_data_preprocessing/code_example/.ipynb_checkpoints/classification-checkpoint.ipynb

https://github.com/yuxiaohuang/teaching/blob/master/gwu/machine_learning_I/fall_2020/code/utilities/p2_shallow_learning/pmlm_utilities_shallow.ipynb

In [154]:
from google.colab import drive
import sys

# Mount Google Drive
drive.mount('/content/drive')

# Get the absolute path of the current folder
abspath_curr = '/content/drive/My Drive/Colab Notebooks/teaching/gwu/machine_learning_I/fall_2020/code/p2_shallow_learning/p2_c1_data_preprocessing/code_example/'

# Get the absolute path of the shallow utilities folder
abspath_util_shallow = '/content/drive/My Drive/Colab Notebooks/teaching/gwu/machine_learning_I/fall_2020/code/utilities/p2_shallow_learning/'

# Get the absolute path of the shallow models folder
abspath_model_shallow = '/content/drive/My Drive/Colab Notebooks/teaching/gwu/machine_learning_I/fall_2020/code/models/p2_shallow_learning/'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [155]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [156]:
# Change working directory to the absolute path of the shallow utilities folder
%cd $abspath_util_shallow

# Import the shallow utitilities
%run pmlm_utilities_shallow.ipynb

/content/drive/My Drive/Colab Notebooks/teaching/gwu/machine_learning_I/fall_2020/code/utilities/p2_shallow_learning

In [157]:
import warnings

# Ignore warnings
warnings.filterwarnings('ignore')

In [159]:
import matplotlib.pyplot as plt
%matplotlib inline 

# Set matplotlib sizes
plt.rc('font', size=20)
plt.rc('axes', titlesize=20)
plt.rc('axes', labelsize=20)
plt.rc('xtick', labelsize=20)
plt.rc('ytick', labelsize=20)
plt.rc('legend', fontsize=20)
plt.rc('figure', titlesize=20)

In [158]:
# The magic below allows us to use tensorflow version 2.x
%tensorflow_version 2.x 
import tensorflow as tf
from tensorflow import keras

In [160]:
# The random seed
random_seed = 42

# Set random seed in tensorflow
tf.random.set_seed(random_seed)

# Set random seed in numpy
import numpy as np
np.random.seed(random_seed)

In [161]:
import pandas as pd

# Load the raw training data
df_raw_train = pd.read_csv( '/content/drive/My Drive/ds6202/new_york_city_taxi_trip_duration/train.csv',
                           header=0)
# Make a copy of df_raw_train
df_train = df_raw_train.copy(deep=True)

# Load the raw test data
df_raw_test = pd.read_csv( '/content/drive/My Drive/ds6202/new_york_city_taxi_trip_duration/test.csv',
                          header=0)
# Make a copy of df_raw_test
df_test = df_raw_test.copy(deep=True)

# Get the name of the target
target = 'trip_duration'

In [162]:
# Print the dimension of df
pd.DataFrame([[df_train.shape[0], df_train.shape[1]]], columns=['# rows', '# columns'])

    # rows  # columns
0  1458644         11

In [163]:
# Print the dimension of df_test
pd.DataFrame([[df_test.shape[0], df_test.shape[1]]], columns=['# rows', '# columns'])

   # rows  # columns
0  625134          9

In [164]:
# Print the first 5 rows of df
df_train.head()

          id  vendor_id  ... store_and_fwd_flag trip_duration
0  id2875421          2  ...                  N           455
1  id2377394          1  ...                  N           663
2  id3858529          2  ...                  N          2124
3  id3504673          2  ...                  N           429
4  id2181028          2  ...                  N           435

[5 rows x 11 columns]

In [165]:
df_test.head()

          id  vendor_id  ... dropoff_latitude  store_and_fwd_flag
0  id3004672          1  ...        40.756680                   N
1  id3505355          1  ...        40.655403                   N
2  id1217141          1  ...        40.729523                   N
3  id2150126          2  ...        40.730469                   N
4  id1598245          1  ...        40.755890                   N

[5 rows x 9 columns]

Splitting the data
The code below shows how to divide the training data into training (80%) and validation (20%)

In [166]:
from sklearn.model_selection import train_test_split

# Divide the training data into training (80%) and validation (20%)
df_train, df_val = train_test_split(df_train, train_size=0.8, random_state=random_seed)

# Reset the index
df_train, df_val = df_train.reset_index(drop=True), df_val.reset_index(drop=True)

In [167]:
# Print the dimension of df_train
pd.DataFrame([[df_train.shape[0], df_train.shape[1]]], columns=['# rows', '# columns'])

    # rows  # columns
0  1166915         11

In [168]:
# Print the dimension of df_val
pd.DataFrame([[df_val.shape[0], df_val.shape[1]]], columns=['# rows', '# columns'])

   # rows  # columns
0  291729         11

Handling uncommon features
Identifying uncommon features
The code below shows how to find common variables between the training, validation and test data.

In [169]:
# Call common_var_checker
# See the implementation in pmlm_utilities.ipynb
df_common_var = common_var_checker(df_train, df_val, df_test, target)

# Print df_common_var
df_common_var

           common var
0    dropoff_latitude
1   dropoff_longitude
2                  id
3     passenger_count
4     pickup_datetime
5     pickup_latitude
6    pickup_longitude
7  store_and_fwd_flag
8       trip_duration
9           vendor_id

In [170]:
# Get the features in the training data but not in the validation or test data
uncommon_feature_train_not_val_test = np.setdiff1d(df_train.columns, df_common_var['common var'])

# Print the uncommon features
pd.DataFrame(uncommon_feature_train_not_val_test, columns=['uncommon feature'])

   uncommon feature
0  dropoff_datetime

In [171]:
# Get the features in the validation data but not in the training or test data
uncommon_feature_val_not_train_test = np.setdiff1d(df_val.columns, df_common_var['common var'])

# Print the uncommon features
pd.DataFrame(uncommon_feature_val_not_train_test, columns=['uncommon feature'])

   uncommon feature
0  dropoff_datetime

In [172]:
# Get the features in the test data but not in the training or validation data
uncommon_feature_test_not_train_val = np.setdiff1d(df_test.columns, df_common_var['common var'])

# Print the uncommon features
pd.DataFrame(uncommon_feature_test_not_train_val, columns=['uncommon feature'])

Empty DataFrame
Columns: [uncommon feature]
Index: []

Removing uncommon features

In [173]:


# Remove the uncommon features from the training data
df_train = df_train.drop(columns=uncommon_feature_train_not_val_test)

# Print the first 5 rows of df_train
df_train.head()

          id  vendor_id  ... store_and_fwd_flag  trip_duration
0  id0458976          2  ...                  N           1133
1  id0434613          2  ...                  N            887
2  id3809234          2  ...                  N            686
3  id1203705          1  ...                  N            818
4  id1896645          2  ...                  N            951

[5 rows x 10 columns]

In [174]:
# Remove the uncommon features from the validation data
df_val = df_val.drop(columns=uncommon_feature_val_not_train_test)

# Print the first 5 rows of df_val
df_val.head()

          id  vendor_id  ... store_and_fwd_flag  trip_duration
0  id2793718          2  ...                  N           1040
1  id3485529          2  ...                  N            827
2  id1816614          2  ...                  N            614
3  id1050851          2  ...                  N            867
4  id0140657          1  ...                  N           4967

[5 rows x 10 columns]

In [175]:
# Remove the uncommon features from the test data
df_test = df_test.drop(columns=uncommon_feature_test_not_train_val)

# Print the first 5 rows of df_test
df_test.head()

          id  vendor_id  ... dropoff_latitude  store_and_fwd_flag
0  id3004672          1  ...        40.756680                   N
1  id3505355          1  ...        40.655403                   N
2  id1217141          1  ...        40.729523                   N
3  id2150126          2  ...        40.730469                   N
4  id1598245          1  ...        40.755890                   N

[5 rows x 9 columns]


Handling identifiers

In [176]:
# Combining the training, validation and test data. The code below shows how to combine the training, validation and test data

# Combine df_train, df_val and df_test
df = pd.concat([df_train, df_val, df_test], sort=False)

In [177]:
# Call id_checker on df
# See the implementation in pmlm_utilities.ipynb
df_id = id_checker(df)

# Print the first 5 rows of df_id
df_id.head()

          id
0  id0458976
1  id0434613
2  id3809234
3  id1203705
4  id1896645

In [178]:
import numpy as np

# Remove identifiers from df_train
df_train.drop(columns=np.intersect1d(df_id.columns, df_train.columns), inplace=True)

# Remove identifiers from df_val
df_val.drop(columns=np.intersect1d(df_id.columns, df_val.columns), inplace=True)

# Remove identifiers from df_test
df_test.drop(columns=np.intersect1d(df_id.columns, df_test.columns), inplace=True)

In [179]:
# Print the first 5 rows of df_train
df_train.head()

   vendor_id      pickup_datetime  ...  store_and_fwd_flag  trip_duration
0          2  2016-06-29 18:21:02  ...                   N           1133
1          2  2016-04-25 13:03:26  ...                   N            887
2          2  2016-05-07 12:36:09  ...                   N            686
3          1  2016-05-14 18:44:17  ...                   N            818
4          2  2016-04-10 22:51:25  ...                   N            951

[5 rows x 9 columns]

In [180]:
# Print the first 5 rows of df_val
df_val.head()

   vendor_id      pickup_datetime  ...  store_and_fwd_flag  trip_duration
0          2  2016-06-08 07:36:19  ...                   N           1040
1          2  2016-04-03 12:58:11  ...                   N            827
2          2  2016-06-05 02:49:13  ...                   N            614
3          2  2016-05-05 17:18:27  ...                   N            867
4          1  2016-05-12 17:43:38  ...                   N           4967

[5 rows x 9 columns]

In [181]:
# Print the first 5 rows of df_test
df_test.head()

   vendor_id      pickup_datetime  ...  dropoff_latitude  store_and_fwd_flag
0          1  2016-06-30 23:59:58  ...         40.756680                   N
1          1  2016-06-30 23:59:53  ...         40.655403                   N
2          1  2016-06-30 23:59:47  ...         40.729523                   N
3          2  2016-06-30 23:59:41  ...         40.730469                   N
4          1  2016-06-30 23:59:33  ...         40.755890                   N

[5 rows x 8 columns]

Handling date time variables

In [182]:
# Transforming date time variables. The code below shows how to transform date time variables into the following 6 datetime types: year,month, day, hour, minute, second

# Get the date time variables
datetime_vars = ['pickup_datetime']

In [183]:
# Call datetime_transformer on df_train
# See the implementation in pmlm_utilities.ipynb
df_train = datetime_transformer(df_train, datetime_vars)

# Print the first 5 rows of df_train
df_train.head()

   vendor_id  passenger_count  ...  pickup_datetime_minute  pickup_datetime_second
0          2                1  ...                      21                       2
1          2                1  ...                       3                      26
2          2                1  ...                      36                       9
3          1                1  ...                      44                      17
4          2                1  ...                      51                      25

[5 rows x 14 columns]

In [184]:
# Call datetime_transformer on df_val
df_val = datetime_transformer(df_val, datetime_vars)

# Print the first 5 rows of df_val
df_val.head()

   vendor_id  passenger_count  ...  pickup_datetime_minute  pickup_datetime_second
0          2                1  ...                      36                      19
1          2                1  ...                      58                      11
2          2                5  ...                      49                      13
3          2                2  ...                      18                      27
4          1                4  ...                      43                      38

[5 rows x 14 columns]

In [186]:
# Call datetime_transformer on df_val
# See the implementation in pmlm_utilities.ipynb
df_val = datetime_transformer(df_val, datetime_vars)

# Print the first 5 rows of df_val
df_val.head()

KeyError: ignored

In [187]:
# Call datetime_transformer on df_test
df_test = datetime_transformer(df_test, datetime_vars)

# Print the first 5 rows of df_test
df_test.head()

   vendor_id  passenger_count  ...  pickup_datetime_minute  pickup_datetime_second
0          1                1  ...                      59                      58
1          1                1  ...                      59                      53
2          1                1  ...                      59                      47
3          2                1  ...                      59                      41
4          1                1  ...                      59                      33

[5 rows x 13 columns]

Handling missing data

In [188]:
# Combining the training, validation and test data. The code below shows how to combine the training, validation and test data.

# Combine df_train, df_val and df_test
df = pd.concat([df_train, df_val, df_test], sort=False)

In [189]:
# Call nan_checker on df
# See the implementation in pmlm_utilities.ipynb
df_nan = nan_checker(df)

# Print df_nan
df_nan

             var  proportion    dtype
0  trip_duration         0.3  float64

In [190]:

# Print the unique data type of variables with NaN
pd.DataFrame(df_nan['dtype'].unique(), columns=['dtype'])

     dtype
0  float64

In [191]:
# Get the variables with missing values, their proportion of missing values and data type
df_miss = df_nan[df_nan['dtype'] == 'float64'].reset_index(drop=True)

# Print df_miss
df_miss

             var  proportion    dtype
0  trip_duration         0.3  float64

Separating the training, validation and test data
The code below shows how to separate the training, validation and test data.

In [192]:
# Separating the training data
df_train = df.iloc[:df_train.shape[0], :]

# Separating the validation data
df_val = df.iloc[df_train.shape[0]:df_train.shape[0] + df_val.shape[0], :]

# Separating the test data
df_test = df.iloc[df_train.shape[0] + df_val.shape[0]:, :]

In [193]:
# Print the dimension of df_train
pd.DataFrame([[df_train.shape[0], df_train.shape[1]]], columns=['# rows', '# columns'])

    # rows  # columns
0  1166915         14

In [194]:
# Print the dimension of df_val
pd.DataFrame([[df_val.shape[0], df_val.shape[1]]], columns=['# rows', '# columns'])

   # rows  # columns
0  291729         14

In [195]:
# Print the dimension of df_test
pd.DataFrame([[df_test.shape[0], df_test.shape[1]]], columns=['# rows', '# columns'])

   # rows  # columns
0  625134         14

In [196]:
# Imputing missing values

from sklearn.impute import SimpleImputer

# If there are missing values
if len(df_miss['var']) > 0:
    # The SimpleImputer
    si = SimpleImputer(missing_values=np.nan, strategy='mean')

    # Impute the variables with missing values in df_train, df_val and df_test 
    df_train[df_miss['var']] = si.fit_transform(df_train[df_miss['var']])
    df_val[df_miss['var']] = si.transform(df_val[df_miss['var']])
    df_test[df_miss['var']] = si.transform(df_test[df_miss['var']])

Encoding the data
Combining the training, validation and test data
The code below shows how to combine the training, validation and test data.

In [197]:
#Combining the training, validation and test data

# Combine df_train, df_val and df_test
df = pd.concat([df_train, df_val, df_test], sort=False)

# Print the unique data type of variables in df
pd.DataFrame(df.dtypes.unique(), columns=['dtype'])

     dtype
0    int64
1  float64
2   object

In [198]:
# Identifying categorical variables

# Call cat_var_checker on df
# See the implementation in pmlm_utilities.ipynb
df_cat = cat_var_checker(df)

# Print the dataframe
df_cat

                  var  nunique
0  store_and_fwd_flag        2

In [199]:
# Encoding categorical features

# One-hot-encode the categorical features in the combined data
df = pd.get_dummies(df, columns=np.setdiff1d(df_cat['var'], [target]))

# Print the first 5 rows of df
df.head()

   vendor_id  passenger_count  ...  store_and_fwd_flag_N  store_and_fwd_flag_Y
0          2                1  ...                     1                     0
1          2                1  ...                     1                     0
2          2                1  ...                     1                     0
3          1                1  ...                     1                     0
4          2                1  ...                     1                     0

[5 rows x 15 columns]


Separating the training, validation and test data
The code below shows how to separate the training, validation and test data.

In [200]:

# Separating the training data
df_train = df.iloc[:df_train.shape[0], :]

# Separating the validation data
df_val = df.iloc[df_train.shape[0]:df_train.shape[0] + df_val.shape[0], :]

# Separating the test data
df_test = df.iloc[df_train.shape[0] + df_val.shape[0]:, :]

In [201]:
# Print the dimension of df_train
pd.DataFrame([[df_train.shape[0], df_train.shape[1]]], columns=['# rows', '# columns'])

    # rows  # columns
0  1166915         15

In [202]:
# Print the dimension of df_val
pd.DataFrame([[df_val.shape[0], df_val.shape[1]]], columns=['# rows', '# columns'])

   # rows  # columns
0  291729         15

In [203]:
# Print the dimension of df_test
pd.DataFrame([[df_test.shape[0], df_test.shape[1]]], columns=['# rows', '# columns'])

   # rows  # columns
0  625134         15

Splitting the feature and target
The code below shows how to split the feature and target.

In [204]:
# Get the feature matrix
X_train = df_train[np.setdiff1d(df_train.columns, [target])].values
X_val = df_val[np.setdiff1d(df_val.columns, [target])].values
X_test = df_test[np.setdiff1d(df_test.columns, [target])].values

# Get the target vector
y_train = df_train[target].values
y_val = df_val[target].values
y_test = df_test[target].values

Scaling the data

In [205]:
from sklearn.preprocessing import StandardScaler

# The StandardScaler
ss = StandardScaler()

In [206]:
# Standardize the training data
X_train = ss.fit_transform(X_train)

# Standardize the validation data
X_val = ss.transform(X_val)

# Standardize the test data
X_test = ss.transform(X_test)

In [207]:
# Standardize the training data
y_train = ss.fit_transform(y_train.reshape(-1, 1)).reshape(-1)

# Standardize the validation data
y_val = ss.transform(y_val.reshape(-1, 1)).reshape(-1)

# Standardize the test data
y_test = ss.transform(y_test.reshape(-1, 1)).reshape(-1)

Hyperparameter Tuning
Creating the dictionary of the models
In the dictionary:
the key is the acronym of the model
the value is the model

In [208]:
from sklearn.linear_model import SGDRegressor

models = {'sgd': SGDRegressor(random_state=random_seed)}

In [209]:
from sklearn.pipeline import Pipeline

pipes = {}

for acronym, model in models.items():
    pipes[acronym] = Pipeline([('model', model)])

In [210]:
# Get the:
# feature matrix and target velctor in the combined training and validation data
# target vector in the combined training and validation data
# PredefinedSplit
# See the implementation in pmlm_utilities.ipynb
X_train_val, y_train_val, ps = get_train_val_ps(X_train, y_train, X_val, y_val)


GridSearchCV
Creating the dictionary of the parameter grids
In the dictionary:
the key is the acronym of the model
the value is the parameter grid of the model

In [211]:
param_grids = {}

In [212]:
# The parameter grid of eta
eta_grid = [0.001, 0.01]

# The parameter grid of alpha
alpha_grid = [0.01, 0.1]

# Update param_grids
param_grids['sgd'] = [{'model__eta0': eta_grid,
                       'model__alpha': alpha_grid}]

In [213]:
# Make directory
directory = os.path.dirname(abspath_curr + 'result/cv_results/GridSearchCV/')
if not os.path.exists(directory):
    os.makedirs(directory)

In [215]:
from sklearn.model_selection import GridSearchCV

# The list of [best_score_, best_params_, best_estimator_] obtained by GridSearchCV
best_score_params_estimator_gs = []

# For each model
for acronym in pipes.keys():
    # GridSearchCV
    gs = GridSearchCV(estimator=pipes[acronym],
                      param_grid=param_grids[acronym],
                      scoring='neg_mean_squared_error',
                      n_jobs=2,
                      cv=ps,
                      return_train_score=True)
        
    # Fit the pipeline
    gs = gs.fit(X_train_val, y_train_val)
    
    # Update best_score_params_estimator_gs
    best_score_params_estimator_gs.append([gs.best_score_, gs.best_params_, gs.best_estimator_])
    
    # Sort cv_results in ascending order of 'rank_test_score' and 'std_test_score'
    cv_results = pd.DataFrame.from_dict(gs.cv_results_).sort_values(by=['rank_test_score', 'std_test_score'])
    
    # Get the important columns in cv_results
    important_columns = ['rank_test_score',
                         'mean_test_score', 
                         'std_test_score', 
                         'mean_train_score', 
                         'std_train_score',
                         'mean_fit_time', 
                         'std_fit_time',                        
                         'mean_score_time', 
                         'std_score_time']
    
    # Move the important columns ahead
    cv_results = cv_results[important_columns + sorted(list(set(cv_results.columns) - set(important_columns)))]

    # Write cv_results file
    cv_results.to_csv(path_or_buf=abspath_curr + 'result/cv_results/GridSearchCV/' + acronym + '.csv', index=False)

# Sort best_score_params_estimator_gs in descending order of the best_score_
best_score_params_estimator_gs = sorted(best_score_params_estimator_gs, key=lambda x : x[0], reverse=True)

# Print best_score_params_estimator_gs
pd.DataFrame(best_score_params_estimator_gs, columns=['best_score', 'best_param', 'best_estimator'])

   best_score  ...                                     best_estimator
0   -0.332515  ...  (SGDRegressor(alpha=0.1, average=False, early_...

[1 rows x 3 columns]

Model Selection¶

In [216]:
# Get the best_score, best_params and best_estimator obtained by GridSearchCV
best_score_gs, best_params_gs, best_estimator_gs = best_score_params_estimator_gs[0]